<h2 class="title">Development</h2>
<hr>
<p>
    We're passionate technologists specialising in building and shipping distributed
    applications for the modern web.
</p>
<p>
    Our experience covers working with projects ranging from websites and content management systems to search engines, video games, e-commerce and complex financial and real-time systems.
</p>
<p>
    Would you like us to help your next great idea come true?
    Hire smartcode engineers to <strong>augment your development team</strong> or <strong>build the entire project</strong> for you!
</p>
<p>
    <a href="/contact">Get in touch</a> and check our availability!
</p>