<h2 class="title">open source</h2>
<hr>
<p>
    At smartcode we're passionate about open source development and deeply believe that
    contributing to open source community is not only a great way
    to show your support, but also an excellent opportunity to demo what we're capable of delivering :-)
</p>
<p>
    In fact, if you're using Jenkins <abbr title="Continuous Integration">CI</abbr> Server it's quite likely that you're already amongst those <strong>2,619 companies</strong> benefiting from our software!
</p>